@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

p {
  margin: 0px !important;
  padding: 0 !important;
}

:root {
  --color-white: #fefffe;
  --color-orange: #fd5403;
  --color-grey: #bdbfc5;
}

html,
body {
  padding: 0px;
  margin: 0px;
  background-color: var(--color-white) !important;
}

.color_white {
  color: var(--color-white) !important;
}

.bg_color_white {
  background-color: var(--color-white) !important;
}

.color_orange {
  color: var(--color-orange) !important;
}

.bg_color_orange {
  background-color: var(--color-orange) !important;
}

.color_grey {
  color: var(--color-grey);
}

.outline_0 {
  outline: 0px !important;
}
.shadow_0 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.font_small {
  font-size: 11px;
}
.cursor_pointer {
  cursor: pointer;
}

.outline_button {
  border: 1px solid var(--color-orange) !important;
  padding: 1px 12px !important;
  border-radius: 4px !important;
}

.search_history_item {
  background-color: whitesmoke;
  padding: 2px 12px !important;

}
