@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

p {
  margin: 0px !important;
  padding: 0 !important;
}

:root {
  --color-white: #fefffe;
  --color-orange: #fd5403;
  --color-grey: #b7b8bd;
  --color-purple: #b2338b;
}

html,
body {
  padding: 0px;
  margin: 0px;
  background-color: var(--color-white) !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
.color_white {
  color: var(--color-white) !important;
}

.bg_color_white {
  background-color: var(--color-white) !important;
}

.color_orange {
  color: var(--color-orange) !important;
}

.color_purple {
  color: var(--color-purple) !important;
}

.bg_color_orange {
  background-color: var(--color-orange) !important;
}

.color_grey {
  color: var(--color-grey);
}

.outline_0 {
  outline: 0px !important;
}
.shadow_0 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.font_small {
  font-size: 11px;
}
.cursor_pointer {
  cursor: pointer;
}

.outline_button {
  border: 1px solid var(--color-orange) !important;
  padding: 1px 12px !important;
  border-radius: 4px !important;
}

.search_history_item {
  background-color: whitesmoke;
  padding: 2px 12px !important;
}

.fz10 {
  font-size: 10px;
}

.fz11 {
  font-size: 11px;
}

.fz12 {
  font-size: 12px;
}

.fz13 {
  font-size: 13px;
}

.fz14 {
  font-size: 14px;
}

.fz15 {
  font-size: 15px;
}

.fz17 {
  font-size: 16px;
}

.fz16 {
  font-size: 17px;
}

.fz18 {
  font-size: 18px;
}

.footer_not_active {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-grey);
  font-size: 12px;
}

.footer_active {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-orange);
  font-size: 12px;
}

.footer_top_border {
  border-top: 1px solid rgb(230, 228, 228);
}

.search_bg_color {
  background-color: #dadadd8f !important;
}
.border_top {
  border-top: 1px solid rgb(230, 228, 228);
}

.border_bottom {
  border-bottom: 1px solid rgb(230, 228, 228) !important;
}



.bg_blue_grey{
  background-color: #eef1f5e7;
}



