.man_img_div {
  position: relative;
  height: 40vh;
}

.login_wrapper {
  position: absolute;
  top: 35vh;
  height: 65vh;
  width: 100%;
  background-color: var(--color-orange);
}

.facebook {
  background-color: white;
  color: #3b5998;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.google {
  background-color: white;
  color: #db4437;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.apple {
  background-color: white;
  color: #000000;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.create_account {
  background-color: var(--color-white);
  color: var(--color-orange);
  border-radius: 2px;
  font-size: 18px;
}

.login_password {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  border-radius: 2px;
  font-size: 18px;
}
